@charset "UTF-8";

/* ---------------------------------------------------------------------------------------------- */

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    line-height: 1;
}

/* ---------------------------------------------------------------------------------------------- */

body {
    margin: 0;

    background-color: #ffd59d;

    font-family: sans-serif;
}

/* ---------------------------------------------------------------------------------------------- */

.modal {
    --color-modal-container-background: #ffeedb;
    --color-modal-container-text:       #ff2700;
    --color-modal-container-border:     #ff5300;
    --color-modal-container-shadow:     #00000040;

    --color-modal-button-background: #ff8800;
    --color-modal-button-text:       #fff;
    --color-modal-button-shadow:     #00000040;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    user-select: none;
    /* pointer-events: none; */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);

    .container {
        width: 400px;
        height: auto;

        padding: 30px 50px;

        background-color: var(--color-modal-container-background);
        color: var(--color-modal-container-text);

        box-shadow: 0 0 40px var(--color-modal-container-shadow);

        border: 5px solid var(--color-modal-container-border);
        border-radius: 32px;

        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 30px;
        }

        p {
            font-weight: 100;
            font-size: 24px;
        }

        .button {
            div {
                width: 100%;

                margin-top: 16px;
                padding: 16px;

                /* display: inline-block; */

                font-size: 24px;

                background-color: var(--color-modal-button-background);
                color: var(--color-modal-button-text);

                border-radius: 16px;

                box-shadow: 4px 4px 0 var(--color-modal-button-shadow);

                cursor: pointer;
            }

            div:hover {
                opacity: 0.7;
                box-shadow: none;
            }

            div:active {
                opacity: 0.5;
                box-shadow: none;
            }
        }
    }
}

/* ---------------------------------------------------------------------------------------------- */

footer {
    position: absolute;
    bottom: 0;

    width: 100%;

    padding: 8px;

    display: flex;
    justify-content: center;

    color: #000;

    font-size: 14px;
}
